<% role = "" %>
<% control = "" %>
<% if current_user.present? %>
    <% role = "both" %>
    <% control = "admin"  if current_user.role == "admin"  %>
<% end %>

<div id="menu">
  <menu>
    <ul>
      <% menu = Menu.where(access: ['all', role, control]).where(parent_id: 0) %>
      <% if menu.present? %>
          <% menu.order("sequence_number").each do |lists| %>
              <li>
                <%= link_to lists.title, :controller => lists.controller, :action => lists.action %>
                <% id = lists.id %>
                <% submenu = Menu.where(parent_id: id )%>
                <% if submenu.present? %>
                    <% submenu.order("sequence_number").each do |sublists| %>
                        <ul>
                          <li>
                            <%= link_to sublists.title, :controller => sublists.controller, :action => sublists.action %>
                          </li>
                        </ul>
                    <% end %>
                <% end %>
              </li>
          <% end %>
      <% end %>
    </ul>
  </menu>
</div>