// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_container_right{
  width:36%;
  float:left;
  padding:2%;
  border:1px solid red;
}
.form_container_left{
  width:56%;
  float:left;
  padding:2%;
}
.form_container_bottom{
  width:100%;
  float:left;
  padding:1% 0%;
}
.form_element{
  padding: 2.5% 0%;
  float:left;
}
.form_submit{
  width:150px;
  height:50px;
}
.form_content{
  width:552px;
  height:235px;
  display: block;
}
.form_field{
  width:350px;
  height:25px;
  display: block;
}
