#menu{
    position: relative;
}
.one, .two {
    margin-top:50px;
    float:left;
    width:35%;
    position : relative;
}
menu > ul {
    margin: 0px;
    padding: 10px 0px;
    background-color: grey;
}
menu > ul > li {
    display:inline;
    border-right: 1px solid #dddddd;
    padding:10.5px 0px;
    color:white;
}
menu > ul > li > a {
    padding: 10px 40px;
}
menu li ul{
    display:none;
    top:33px;
    margin-left:-73px;
    position: absolute;
}
menu li:hover{
    color:green;
    background-color:rgb(180,180,180);
}
menu li:hover ul {
    display:inline-block;
}
menu li ul li{
    background-color:grey;
    list-style-type: none;
    color:white;
    padding:10px 30px;
}
menu li ul li:hover{
    background-color:lightgrey;
    color:green;
}